.133_951 { 
	overflow:hidden;
}
.e133_951 { 
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:1024px;
	position:absolute;
}
.e135_971 { 
	width:1440px;
	height:934px;
	position:absolute;
	left:0px;
	top:90px;
	background-image:url(../images/image_4.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e135_972 { 
	background-color:rgba(207.1875, 207.1875, 207.1875, 0.28999999165534973);
	width:1440px;
	height:935px;
	position:absolute;
	left:0px;
	top:88px;
}
.e133_967 { 
	box-shadow:4px 4px 4px rgba(0, 0, 0, 0.25);
	width:622px;
	height:622px;
	position:absolute;
	left:409px;
	top:88px;
	background-image:url(../images/artboard_1_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e169_211 { 
	background-image:linear-gradient(0deg, rgba(149.18826341629028, 185.16424655914307, 255, 0.6800000071525574) 12.291654199361801%,rgba(255, 255, 255, 0.5600000023841858) 93.54165196418762%) ;
	width:281px;
	height:96px;
	position:absolute;
	left:597px;
	top:710px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e169_212 { 
	color:rgba(255, 255, 255, 1);
	width:243px;
	height:67px;
	position:absolute;
	left:18px;
	top:14.5px;
	font-family:Mulish;
	text-align:center;
	font-size:48px;
	letter-spacing:0.30000001192092896;
	line-height:px;
}
.e237_668 { 
	width:1440px;
	height:120px;
	position:absolute;
	left:0px;
	top:-16px;
}
.e237_669 { 
	width:1440px;
	height:88px;
	position:absolute;
	left:0px;
	top:11px;
}
.ei237_669_20_9 { 
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:88px;
	position:absolute;
	left:0px;
	top:0px;
}
.i237_669_20_9 { 
	border:1px solid rgba(226.0000017285347, 229.00000154972076, 230.00000149011612, 1);
}
.ei237_669_20_10 { 
	width:421px;
	height:20px;
	position:absolute;
	left:509.5px;
	top:34px;
}
.ei237_669_20_11 { 
	color:rgba(55.00000052154064, 63.000000044703484, 65.0000037252903, 1);
	width:61px;
	height:18px;
	position:absolute;
	left:1px;
	top:1px;
	font-family:Mulish;
	text-align:left;
	font-size:14px;
	letter-spacing:0.20000000298023224;
	line-height:px;
}
.ei237_669_20_12 { 
	color:rgba(55.00000052154064, 63.000000044703484, 65.0000037252903, 1);
	width:36px;
	height:18px;
	position:absolute;
	left:96px;
	top:1px;
	font-family:Mulish;
	text-align:left;
	font-size:14px;
	letter-spacing:0.20000000298023224;
	line-height:px;
}
.ei237_669_20_13 { 
	color:rgba(55.00000052154064, 63.000000044703484, 65.0000037252903, 1);
	width:30px;
	height:18px;
	position:absolute;
	left:166px;
	top:1px;
	font-family:Mulish;
	text-align:left;
	font-size:14px;
	letter-spacing:0.20000000298023224;
	line-height:px;
}
.ei237_669_20_14 { 
	color:rgba(55.00000052154064, 63.000000044703484, 65.0000037252903, 1);
	width:72px;
	height:18px;
	position:absolute;
	left:230px;
	top:1px;
	font-family:Mulish;
	text-align:left;
	font-size:14px;
	letter-spacing:0.20000000298023224;
	line-height:px;
}
.ei237_669_20_15 { 
	color:rgba(55.00000052154064, 63.000000044703484, 65.0000037252903, 1);
	width:84px;
	height:18px;
	position:absolute;
	left:336px;
	top:1px;
	font-family:Mulish;
	text-align:left;
	font-size:14px;
	letter-spacing:0.20000000298023224;
	line-height:px;
}
.ei237_669_20_16 { 
	background-color:rgba(60.398496240377426, 99.89823549985886, 176.57421469688416, 1);
	width:94px;
	height:42px;
	position:absolute;
	left:1181px;
	top:23px;
}
.ei237_669_20_17 { 
	color:rgba(255, 255, 255, 1);
	width:58px;
	height:18px;
	position:absolute;
	left:18px;
	top:12px;
	font-family:Mulish;
	text-align:center;
	font-size:14px;
	letter-spacing:0.30000001192092896;
	line-height:px;
}
.e237_670 { 
	width:354px;
	height:120px;
	position:absolute;
	left:29px;
	top:0px;
}
.ei237_670_113_76 { 
	color:rgba(60.398496240377426, 99.89823549985886, 176.57421469688416, 1);
	width:243px;
	height:32px;
	position:absolute;
	left:111px;
	top:44px;
	font-family:Lato;
	text-align:left;
	font-size:24px;
	letter-spacing:0.20000000298023224;
	line-height:px;
}
.ei237_670_113_77 { 
	width:120px;
	height:120px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(../images/artboard_8_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
