.31_2 { 
	overflow:hidden;
}
.e31_2 { 
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:1024px;
	position:absolute;
}
.e171_384 { 
	width:1440px;
	height:822px;
	position:absolute;
	left:0px;
	top:88px;
	background-image:url(../images/adi_hidayat_di_bandung_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e173_235 { 
	width:1440px;
	height:822px;
	position:absolute;
	left:0px;
	top:88px;
	background-image:url(../images/adi_hidayat_di_bandung_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e181_241 { 
	background-image:linear-gradient(0deg, rgba(11.999999284744263, 37.99999013543129, 89.00000229477882, 0.07000000029802322) 0%,rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1) 99.98999834060669%,rgba(95.00000193715096, 136.00000709295273, 216.00000232458115, 1) 100%) ;
	width:1440px;
	height:817px;
	position:absolute;
	left:0px;
	top:93px;
}
.e47_66 { 
	background-color:rgba(95.00000193715096, 135.9999918937683, 216.00000232458115, 0.5);
	width:577px;
	height:166px;
	position:absolute;
	left:417px;
	top:744px;
	border-top-left-radius:14px;
	border-top-right-radius:14px;
	border-bottom-left-radius:14px;
	border-bottom-right-radius:14px;
}
.e47_67 { 
	color:rgba(242.00000077486038, 242.00000077486038, 242.00000077486038, 1);
	width:577px;
	height:166px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:center;
	font-size:64px;
	letter-spacing:0;
}
.e118_117 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:44px;
	height:85px;
	position:absolute;
	left:1367px;
	top:469px;
	font-family:Segoe UI;
	text-align:center;
	font-size:64px;
	letter-spacing:0;
}
.e118_118 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:44px;
	height:85px;
	position:absolute;
	left:29px;
	top:469px;
	font-family:Segoe UI;
	text-align:center;
	font-size:64px;
	letter-spacing:0;
}
.e113_70 { 
	width:69px;
	height:32px;
	position:absolute;
	left:233px;
	top:28px;
}
.e173_238 { 
	width:314px;
	height:44px;
	position:absolute;
	left:579px;
	top:689px;
}
.e171_417 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.4000000059604645);
	background-color:rgba(108.00000116229057, 204.00000303983688, 242.00000077486038, 0.8999999761581421);
	width:44px;
	height:44px;
	position:absolute;
	left:270px;
	top:0px;
}
.e171_418 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius:500px;
	background-color:rgba(242.00000077486038, 242.00000077486038, 242.00000077486038, 0);
	width:44px;
	height:44px;
	position:absolute;
	left:180px;
	top:0px;
}
.171_418 { 
	border:7px solid rgba(242.00000077486038, 242.00000077486038, 242.00000077486038, 1);
}
.e173_233 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius:500px;
	background-color:rgba(242.00000077486038, 242.00000077486038, 242.00000077486038, 0);
	width:44px;
	height:44px;
	position:absolute;
	left:90px;
	top:0px;
}
.173_233 { 
	border:7px solid rgba(242.00000077486038, 242.00000077486038, 242.00000077486038, 1);
}
.e173_234 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius:500px;
	background-color:rgba(242.00000077486038, 242.00000077486038, 242.00000077486038, 0);
	width:44px;
	height:44px;
	position:absolute;
	left:0px;
	top:0px;
}
.173_234 { 
	border:7px solid rgba(242.00000077486038, 242.00000077486038, 242.00000077486038, 1);
}
.e237_651 { 
	width:1440px;
	height:120px;
	position:absolute;
	left:0px;
	top:-11px;
}
.e237_652 { 
	width:1440px;
	height:88px;
	position:absolute;
	left:0px;
	top:11px;
}
.ei237_652_20_9 { 
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:88px;
	position:absolute;
	left:0px;
	top:0px;
}
.i237_652_20_9 { 
	border:1px solid rgba(226.0000017285347, 229.00000154972076, 230.00000149011612, 1);
}
.ei237_652_20_10 { 
	width:421px;
	height:20px;
	position:absolute;
	left:509.5px;
	top:34px;
}
.ei237_652_20_11 { 
	color:rgba(55.00000052154064, 63.000000044703484, 65.0000037252903, 1);
	width:61px;
	height:18px;
	position:absolute;
	left:1px;
	top:1px;
	font-family:Mulish;
	text-align:left;
	font-size:14px;
	letter-spacing:0.20000000298023224;
	line-height:px;
}
.ei237_652_20_12 { 
	color:rgba(55.00000052154064, 63.000000044703484, 65.0000037252903, 1);
	width:36px;
	height:18px;
	position:absolute;
	left:96px;
	top:1px;
	font-family:Mulish;
	text-align:left;
	font-size:14px;
	letter-spacing:0.20000000298023224;
	line-height:px;
}
.ei237_652_20_13 { 
	color:rgba(55.00000052154064, 63.000000044703484, 65.0000037252903, 1);
	width:30px;
	height:18px;
	position:absolute;
	left:166px;
	top:1px;
	font-family:Mulish;
	text-align:left;
	font-size:14px;
	letter-spacing:0.20000000298023224;
	line-height:px;
}
.ei237_652_20_14 { 
	color:rgba(55.00000052154064, 63.000000044703484, 65.0000037252903, 1);
	width:72px;
	height:18px;
	position:absolute;
	left:230px;
	top:1px;
	font-family:Mulish;
	text-align:left;
	font-size:14px;
	letter-spacing:0.20000000298023224;
	line-height:px;
}
.ei237_652_20_15 { 
	color:rgba(55.00000052154064, 63.000000044703484, 65.0000037252903, 1);
	width:84px;
	height:18px;
	position:absolute;
	left:336px;
	top:1px;
	font-family:Mulish;
	text-align:left;
	font-size:14px;
	letter-spacing:0.20000000298023224;
	line-height:px;
}
.ei237_652_20_16 { 
	background-color:rgba(60.398496240377426, 99.89823549985886, 176.57421469688416, 1);
	width:94px;
	height:42px;
	position:absolute;
	left:1181px;
	top:23px;
}
.ei237_652_20_17 { 
	color:rgba(255, 255, 255, 1);
	width:58px;
	height:18px;
	position:absolute;
	left:18px;
	top:12px;
	font-family:Mulish;
	text-align:center;
	font-size:14px;
	letter-spacing:0.30000001192092896;
	line-height:px;
}
.e237_653 { 
	width:354px;
	height:120px;
	position:absolute;
	left:29px;
	top:0px;
}
.ei237_653_113_76 { 
	color:rgba(60.398496240377426, 99.89823549985886, 176.57421469688416, 1);
	width:243px;
	height:32px;
	position:absolute;
	left:111px;
	top:44px;
	font-family:Lato;
	text-align:left;
	font-size:24px;
	letter-spacing:0.20000000298023224;
	line-height:px;
}
.ei237_653_113_77 { 
	width:120px;
	height:120px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(../images/artboard_8_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e237_654 { 
	background-color:rgba(60.398496240377426, 99.89823549985886, 176.57421469688416, 1);
	width:84px;
	height:42px;
	position:absolute;
	left:1283px;
	top:34px;
}
.e237_655 { 
	color:rgba(255, 255, 255, 1);
	width:48px;
	height:18px;
	position:absolute;
	left:18px;
	top:12px;
	font-family:Mulish;
	text-align:center;
	font-size:14px;
	letter-spacing:0.30000001192092896;
	line-height:px;
}
