{% extends 'base.html' %}
{% load static %}

{% block content %}
<head>
  <style>
    #form-login {
      background-color: rgba(255, 255, 255, .9);
      width: 50%;
      float: right;
    }

    #menu-login {
      width: 50%;
      float: left;
    }
  </style>
</head>

<div class="container">
  <div class="row g-0">
    <div id="menu-login" class="col-md-4">
      <img src="{% static 'images\Masjid_Raya.jpg' %}" alt=""/>
    </div>

    <form id="form-login" class="col-md-8" action="" method="post">
      {% csrf_token %}
      <div class="card-body">
        <div class="image">
          <img src="{% static 'images\artboard_1_1.png' %} " width='324' height='324'/>
        </div>

        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label" placeholder="Username">Nama Pengguna</label>
          <input type="text" class="form-control" name="Username">
        </div>

        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label" placeholder="Password">Kata Sandi</label>
          <input type="password" class="form-control" name="Password">
        </div>

        {% if messages %}
          {% for message in messages %}
            <p style="color: red">{{ message }}</p>
          {% endfor %}
        {% endif %}
    
        <input type="submit" value="Login" class="btn btn-light"/> 
      </div>
    </form>
  </div>
</div>
{% endblock %}