{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="list-ceramah">
        {% for ceramah in ceramah %}
        <div class="card mb-3" style="max-width: auto;">
            <div class="row g-0">
              {% if ceramah.Images %}
              <div class="col-md-4">
                <img src="{{ ceramah.Images.url }}" class="img-fluid rounded-start" alt="...">
              </div>
              {% endif %}
    
              <div class="col-md-8">
                <div class="card-body">
                  <h2 class="card-title">{{ ceramah.Judul|title }}</h2>
                  <h5><p class="card-text">{{ ceramah.Deskripsi }}</p></h5>
                  <p class="card-text"><small class="text-muted">Mulai: {{ ceramah.Waktu }} {{ ceramah.Tanggal }}</small></p>

                  <button type="button">Join</button>
                </div>
              </div>
            </div>
        </div>
    
        {% endfor %}
    </div>
{% endblock %}