{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="list-ceramah">
        {% for ceramah in ceramah %}
        <div class="event">
            <img src="{% static 'images/Ceramah 1.png' %}" alt="{{ ceramah.}}" />
        </div>
        
        <h1>{{ ceramah.Judul }}</h1>
        <h1>{{ ceramah.Images }}</h1>
        <h2>{{ ceramah.Deskripsi }}</h2>
        <h2>{{ ceramah.Waktu }}</h2>
        <h2>{{ ceramah.Links }}</h2>
        {% endfor %}
    </div>

{% endblock %}