<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
          
  <title>Html Generated</title>
  <meta name="description" content="Figma htmlGenerator">
  <meta name="author" content="htmlGenerator">
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Segoe+UI&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Mulish&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="css/utamastyles.css">

  <style>
    /*
    Figma Background for illustrative/preview purposes only.
    You can remove this style tag with no consequence
    */
    body {background: #E5E5E5; }
  </style>
          
</head>
          
<body>
  
  <div class=e31_2>
    <div  class="e171_384">

    </div>
    <div  class="e173_235">

    </div>
    <div  class="e181_241">

    </div>
    <div class=e47_66>
      <span  class="e47_67">
        Ceramah
      </span>
    </div><span  class="e118_117">
      >
    </span>
    <span  class="e118_118">
      <
    </span>
    <div class=e173_238>
      <div  class="e171_417">

      </div>
      <div  class="e171_418">

      </div>
      <div  class="e173_233">

      </div>
      <div  class="e173_234">

      </div>
    </div>
    
    <div class=e237_651>
      <div class=e237_652>
        <div  class="ei237_652_20_9">

        </div>
        <div class=ei237_652_20_10>
          <span  class="ei237_652_20_11">
            Ceramah
          </span>
          <span  class="ei237_652_20_12">
            Ngaji
          </span>
          <span  class="ei237_652_20_13">
            QnA</span>
            <span  class="ei237_652_20_14">
              Komunitas
            </span>
            <span  class="ei237_652_20_15">
              Chat Ustadz</span>
            </div>
            <div class=ei237_652_20_16>
              <span  class="ei237_652_20_17">
                Register
              </span>
            </div>
          </div>
          <div class=e237_653>
            <span  class="ei237_653_113_76">
              JAKBEUT - ACEH
            </span>
            <div  class="ei237_653_113_77">

            </div>
          </div>
          <div class=e237_654>
            <span  class="e237_655">
              Sign In
            </span>
          </div>
        </div>
      </div>      
</body>
</html>